body {
  height: 100%;
  margin: 0;
  padding: 0;
  #map {
    height: 1000;
    width: 100%;
  }
  .myContain {
    margin-left: 30px;
    margin-right: 30px;

    h1 {
      text-align: center;
    }

    .button-row {
      z-index: 99;
      position: absolute;
      left: 35%;
      top: 70px;
      color: #fff;
      text-shadow: -1px 1px #000,
                   -1px -1px #000,
                   1px -1px #000,
                   1px 1px #000;
      select, input {
        color: #000;
        text-shadow: none;
      }
    }
  }
}
